:root {
    --color-background-variant: #ffffff;
    --color-primary-variant: #000000;
    --transition: 0.3s ease-in-out;
}

.portfolio__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

a {
    margin: 0 10px;
    align-items: center;
}

.portfolio__items {
    background: var(--color-background-variant);
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Add this line */
    text-align: center; /* Center text */
}

.portfolio__items:hover {
    border-color: var(--color-primary-variant);
    background: transparent;
}

.portfolio__items-image {
    border-radius: 1.5rem;
    overflow: hidden;
    align-items: center;
    display: flex;
    justify-content: center;
}

.portfolio__item-title {
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.portfolio__items-cta {
    display: flex;
    justify-content: center;
    margin-top: 1rem; /* Adjust margin as needed */
    margin: 2rem;
}

.portfolio__project-img {
    height: 400px;
    width: 400px;
}

/* Making it responsive for tablets */
@media screen and (max-width: 1028px) {
    .portfolio__container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}

/* Making it responsive for mobile */
@media screen and (max-width: 600px) {
    .portfolio__container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}
