.experience_container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    height: 200px;
    width: 400px;
}

.experience_card {
    background: var(--color-primary);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    max-width: 200px;
    transition: var(--transition);
    /* min-height: 350px; */
    /* min-width: 400px; */
    /* aspect-ratio: 2/1; */
    gap: 2rem;
}
