:root {
    --color-primary-variant: #000000;
    --transition: 0.3s ease-in-out;
}

.portfolio__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.portfolio__items {
    background: var(--color-background-variant);
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center content vertically */
    text-align: center; /* Center text */
}

.portfolio__items:hover {
    border-color: var(--color-primary-variant);
    background: transparent;
}

.portfolio__items-image {
    border-radius: 1.5rem;
    overflow: visible; /* Allow image edges to extend */
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative; /* Allow child image positioning */
}

.portfolio__item-title {
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.portfolio__item-cta {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

a {
    margin: 0 10px;
}

.portfolio__item-image {
    border-radius: 1.5rem;
    overflow: visible; /* Allow image edges to extend */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Relative for precise child positioning */
    width: 100%; /* Scale the image container */
    height: auto; /* Maintain aspect ratio */
}

.portfolio__item-image img {
    width: 100%; /* Make the image responsive */
    height: auto; /* Maintain aspect ratio */
    /* transform: rotate(10deg); Slight rotation */
    transition: transform var(--transition); /* Smooth transition for rotation */
}

/* .portfolio__item-image img:hover {
    transform: rotate(0deg);
} */

/* Making it responsive for tablets */
@media screen and (max-width: 1028px) {
    .portfolio__container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }

    .portfolio__item-image {
        max-width: 90%; /* Scale down the image container */
    }
}

/* Making it responsive for mobile */
@media screen and (max-width: 600px) {
    .portfolio__container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .portfolio__item-image {
        max-width: 100%; /* Fit container on smaller screens */
    }
}
