*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root{
    --color-background: #f0f0f7;
    --color-primary-lighter: #9871f5;
    
}